@page "/albums/{ArtistId:guid}"

@using Yfitops.Shared
@using Yfitops.Client.Components.Dialogs

@inject HttpClient httpClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudToolBar>
    <MudText Typo="Typo.h6">Albums</MudText>
    <MudIconButton @onclick="OpenAddDialogAsync" Icon="@Icons.Material.Outlined.Add" Class="ml-auto" />
</MudToolBar>

<MudPaper Class="p-4">
    @if (albums == null)
    {
        <MudProgressCircular Color="Color.Primary" />
        <p>Loading albums..</p>
    }
    else if (!albums.Any())
    {
        <p>No albums</p>
    }
    else
    {
        <div class="d-flex flex-wrap" style="gap: 16px;">
            @foreach (var album in albums)
            {
                <MudCard Style="width: 200px;">
                    <MudCardContent>
                        <MudText Typo="Typo.h6">@album.Name</MudText>
                        <MudDatePicker @bind-Date="album.ReleaseDate" Label="Release Date" DateFormat="dd.MM.yyyy"
                            For="@(() => album.ReleaseDate)" />

                        @if (album.IsFavourite)
                        {
                            <MudText Typo="Typo.subtitle2" Color="Color.Warning">⭐ Favourite</MudText>
                        }
                    </MudCardContent>


                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary" Size="Size.Small"
                            @onclick="() => OpenEditDialogAsync(album)">Edit</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Error" Size="Size.Small" @onclick="() => Delete(album)">
                            Delete</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Secondary" Size="Size.Small"
                            @onclick="() => ViewTracks(album)">View</MudButton>
                    </MudCardActions>
                </MudCard>
            }
        </div>
    }
</MudPaper>

@code {
    [Parameter]
    public Guid ArtistId { get; set; }

    private List<AlbumContract> albums;


    protected override async Task OnInitializedAsync()
    {
        albums = await httpClient.GetFromJsonAsync<List<AlbumContract>>($"api/album/list-by-artist/{ArtistId}");
    }

    private async Task OpenAddDialogAsync()
    {
        var parameters = new DialogParameters();
        parameters.Add("ArtistId", this.ArtistId);

        var dialog = await DialogService.ShowAsync<AlbumDialog>("Add Album", parameters);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            albums = await httpClient.GetFromJsonAsync<List<AlbumContract>>($"api/album/list-by-artist/{ArtistId}");
        }
    }

    private async Task OpenEditDialogAsync(AlbumContract album)
    {
        var parameters = new DialogParameters<AlbumDialog>();
        parameters.Add("AlbumId", album.Id);

        var dialog = await DialogService.ShowAsync<AlbumDialog>("Edit Album", parameters);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            albums = await httpClient.GetFromJsonAsync<List<AlbumContract>>($"api/album/list-by-artist/{ArtistId}");

        }
    }

    private async Task Delete(AlbumContract album)
    {
        bool confirm = await DialogService.ShowMessageBox(
        "Confirm Delete",
        "Are you sure you want to delete this artist?",
        yesText: "Yes",
        cancelText: "No"
        ) ?? false;

        if (!confirm) return;

        var response = await httpClient.DeleteAsync($"api/album/{album.Id}");
        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Album deleted successfully!", Severity.Success);
            albums = await httpClient.GetFromJsonAsync<List<AlbumContract>>($"api/album/list-by-artist/{ArtistId}");
        }
        else
        {
            Snackbar.Add("Failed to delete album.", Severity.Error);
        }
    }

    private void ViewTracks(AlbumContract album)
    {
        NavigationManager.NavigateTo($"/tracks/{album.Id}");
    }
}